.cabecera {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    background-color: var(--fondo-negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35.5px 51.15px;
    border-bottom: 2px solid #2271D1;
    box-shadow: 0px 5px 20px 0px rgba(34,113,209,0.5);
    z-index: 1000;
}

.cabecera img {
    height: 40px;
}

.cabecera nav {
    display: flex;
    gap: 25px;
}