form {
    width: 100%;
    box-sizing: border-box;
}

.categoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

css Copiar código

/* Estilo para el campo autofill */
input:-webkit-autofill {
    background-color: #2c3e50 !important;
    /* Cambia el color de fondo */
    color: rgba(255, 255, 255, 1) !important;
    /* Cambia el color del texto */
}

/* Cambiar cuando el campo autofill tenga foco */
input:-webkit-autofill:focus {
    background-color: #2c3e50 !important;
    /* Cambia el color de fondo cuando tiene foco */
    color: rgba(255, 255, 255, 1) !important;
    /* Cambia el color del texto cuando tiene foco */
}

@media (max-width: 1024px) {
    .botones {
        justify-content: center;
        align-items: center;
    }
}