.titulo {
    width: 412px;
    position: relative;
    z-index: 1;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
    margin: -5px 0 45px 40px;
    padding: 10px;
}

.container {
    display: flex;
    padding: 0 40px 90px 40px;
}

.videos {
    display: flex;
    overflow-x: auto;
    padding-bottom: 40px;
    gap: 20px;
}

.videos::-webkit-scrollbar {
    height: 20px;
}

.videos::-webkit-scrollbar-track {
    background-color: rgba(34, 113, 209, 0.17);
    border-radius: 15px;
}

.videos::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(34, 113, 209, 0.75);
    border-radius: 15px;
    border: 5px solid transparent;
}

.videos::-webkit-scrollbar-thumb:hover {
    background-color: rgba(34, 113, 209, 1);
}