.container {
    display: flex;
    flex-direction: column;
}

.video {
    height: 260px;
    width: 432px;
    border: 5px solid;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 712px) {
    .video {
        height: 160px;
        width: 280px;
    }
}